
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
    display: none;
    }

    /* IE, Edge, and Firefox */
    .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    }
}

@layer components {

html, body, #root {
    @apply text-black select-none font-mono;
    /* hides scrollbars */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* black bg, white dots */
/* body {
    background-color: #1a1a1a;
    background-image: radial-gradient(circle, #5e5e5e 1px, transparent 0);
    background-size: 20px 20px
} */

/* white bg, black dots */
body {
    background-color: #fafafa;
    background-image: radial-gradient(circle, #c5c5c5 1px, transparent 0);
    background-size: 20px 20px;
}

.bg-dotted {
    background-color: #fafafa;
    background-image: radial-gradient(circle, #c5c5c5 1px, transparent 0);
    background-size: 20px 20px;
}

}

